*{
	font-family:Arial;
}

#all{
	width:960px;
	margin: 0 auto;
	display:table;
	--border:1px solid red;

}

.header{
	margin-bottom:15px;
	color:#A30046;
	border-bottom:2px solid #eee;
	padding-bottom:5px;
}

#wrapper-product{
	width:100%;
	--border:1px solid red;
}

.product{
	position: relative;
	display:table;
	--border:1px solid yellow;
	width:178px;
	float:left;
	margin-right:10px;
	
}

.disc{
	 background-color: #A30046;
    border-radius: 30px;
    color: white;
    font-weight:bold;
    font-size:12px;
    height: 16px; 
    padding: 4px 5px 0 5px;
    text-align: center;
    min-width: 14px;
    position:absolute;
    right:0;
	
}

.disc-modal{
    color: #A30046;
    font-weight:bold;
    font-size:20px;
    
}

.product-img{
	border: 1px solid #ccc;
}


.product img{
	display:table-cell;
	vertical-align:middle;
	--border:1px solid blue;
	width:178px;
	height:178px;
}

.product-description{
	margin: 0 0 14px;
	height:42px;
	overflow:hidden;
	--border:1px solid green;
}

.product-description h3{
	font-size:12px;
}

.product-price{
	width:100%;
	--border:1px solid blue;
	font-weight: bold;
    height: 26px;
    margin-top: 6px;
    color: #A30046;
    font-size:12px;
}

.new-price{
	font-size:12px;
}

.old-price{
	font-size: 10px;
    font-weight: normal;
    text-decoration: line-through;
    color: #999999;
}

.hidden {
	display:none;
	text-align:center;
	width:75%;
	height: 50px;
	margin-left: 20px;
	--z-index:999;
}

.product:hover .wrapper-btn{
	display:block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .6);
}

.product:hover .hidden{
	display:block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}


#wrapper-detail-product{
	box-sizing:border-box;
	--border:1px solid red;
	margin: 0 auto;
	display:table;
	
}

.left-side{
	margin-left: 15px;
	margin-right:100px;
	float:left;
	--border:1px solid green;
	
}

.left-side img{
	width:100%;
	height:100%;
}

.right-side{
	text-align:center;
	--border:1px solid blue;
	float:left;

}

.price-detail-product{
    font-size: 33px;
    line-height: 1.5;
    width: 370px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px 0;
    word-break: break-all;
    color: #A30046;
}

.price-detail-product-old{
	font-size: 12px;
    font-weight: normal;
    text-decoration: line-through;
    color: #999999;
}

.product-stock{
	margin-bottom:20px;
}

.product-stock-total{
	color: #390;
	text-decoration:underline;
	text-decoration-style: dotted ;
}

.product-stock-total::before { 
    content: "Tersedia ";
    color: #808080;
    text-decoration:none;
}

.product-stock-total::after { 
    content: " Barang";
    color: #808080;
    text-decoration:none;
}

.product-owner{
	border-bottom:solid 1px #ccc;
	width:50%;
	margin: 0 auto;
	display:table;
}

.product-owner h3{
	color:#A30046;
}

.product-owner h3::before{
	content:"Pelapak: ";
	color:black;
}

.product-owner img{
	width:50px;
	height:50px;
}

.content{
	text-align:left;
	--background-color:yellow;
}

.content h3{
	text-align:center;
}

.right-side button{
	width:200px;
	background: #f0c14b;
	border-radius:3px;
	padding:5px 0;
}


/* modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* end modal */

.dedi{
border:1px solid red;
}
